src/main/app/dso.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
               xmlns:spring="http://www.springframework.org/schema/beans" 
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="persistInDSO" processingStrategy="synchronous">
        <logger message="Entered_Flow=#[flow.name]  MessageId=#[message.id]  ProjectId=#[flowVars.projectSfdcId]" level="INFO" doc:name="Start of Flow Logger" category="com.merrillcorp.logging.dso"/>
        <dw:transform-message doc:name="Find DSO Project">
            <dw:set-variable variableName="varDSOXrefExistsFlag"><![CDATA[%dw 1.0
%output application/java

%var ds1ProjFound = sessionVars.projectModel.crossRefs[?( $.IdentifierTypeKey == 'DS1_Proj' and $.EntityTypeKey == 'PROJ' )][0]

---
true when ds1ProjFound != null otherwise false
]]></dw:set-variable>
        </dw:transform-message>
        <choice doc:name="Choice">
            <when expression="#[(flowVars.varDSOXrefExistsFlag == true) &amp;&amp; (sessionVars.projectModel.sourceData.datasiteOneId != empty)]">
                <logger level="INFO" doc:name="Update" category="com.merrillcorp.logging" message="Update Path Chosen"/>
                <flow-ref name="dsoUpdate" doc:name="dsoUpdate"/>
            </when>
            <when expression="#[(flowVars.varDSOXrefExistsFlag == false) &amp;&amp; (sessionVars.projectModel.sourceData.datasiteOneId == empty)]">
                <logger level="INFO" doc:name="Create" category="com.merrillcorp.logging" message="Create Path Chosen"/>
                <flow-ref name="dsoCreate" doc:name="dsoCreate"/>
            </when>
            <when expression="#[(flowVars.varDSOXrefExistsFlag == false) &amp;&amp; (sessionVars.projectModel.sourceData.datasiteOneId != empty)]">
                <logger level="INFO" doc:name="Create Xrefs and Update DSO" message="Create Xrefs and Update DSO Chosen" category="com.merrillcorp.logging"/>
                <flow-ref name="addProjDSOToProj" doc:name="addProjDSOToProj"/>
                <flow-ref name="dsoUpdate" doc:name="dsoUpdate"/>
            </when>
            <otherwise>
                <logger level="INFO" category="com.merrillcorp.logging" doc:name="No Defined Path" message="Path Not Defined"/>
            </otherwise>
        </choice>
        <logger message="Completed_Flow=#[flow.name]  MessageId=#[message.id]  ProjectId=#[flowVars.projectSfdcId]" level="INFO" category="com.merrillcorp.logging.dso" doc:name="End of Flow Logger"/>
        
    </flow>
</mule>
