src/main/app/dsoupdate.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd">
    <flow name="dsoUpdate" processingStrategy="synchronous">
        <logger message="Entered_Flow=#[flow.name]  MessageId=#[message.id]  ProjectId=#[flowVars.projectSfdcId]" level="INFO" doc:name="Start of Flow Logger" category="com.merrillcorp.logging.dso"/>
        <enricher target="variable:dsoToken" doc:name="Message Enricher">
            <flow-ref name="getDSOAuth" doc:name="getDSOAuth"/>
        </enricher>
        <dw:transform-message doc:name="Transform Message" metadata:id="62807fc8-c95f-4c71-91ff-e9932297b736">
            <dw:input-session-variable mimeType="application/java" variableName="projectModel"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
(sessionVars.billedParty.toBeBillingSystemAccount.billingSystemMasterPlanInstance.currentEntitlement default '' splitBy ";") map {
  enabled: true,
  entitlementCode: trim $
}]]></dw:set-payload>
        </dw:transform-message>
            <http:request config-ref="DSO_API_Request_Configuration" path="${dso.create.api.path}/{projectId}/entitlements" method="PUT" doc:name="DSO Update Entitlements">
                <http:request-builder>
                <http:uri-param paramName="projectId" value="#[sessionVars.projectModel.sourceData.datasiteOneId]"/>
                <http:header headerName="Content-Type" value="application/json"/>
                <http:header headerName="Authorization" value="Bearer #[flowVars.dsoToken]"/>
           </http:request-builder>
            </http:request>
        <flow-ref name="dsoUpdateStatus" doc:name="dsoUpdateStatus"/>
        <logger message="Completed_Flow=#[flow.name]  MessageId=#[message.id]  ProjectId=#[flowVars.projectSfdcId]" level="INFO" category="com.merrillcorp.logging.dso" doc:name="End of Flow Logger"/>
        
    </flow>
    <flow name="dsoUpdateStatus" processingStrategy="synchronous">
        <logger message="Entered_Flow=#[flow.name]  MessageId=#[message.id]  ProjectId=#[flowVars.projectSfdcId]" level="INFO" doc:name="Start of Flow Logger" category="com.merrillcorp.logging.dso"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0

%output application/json
---
{
  dataCenter: sessionVars.projectModel.sourceData.dataCenter,
  demo: true,

  description: sessionVars.projectModel.sourceData.name,
  (emailId: sessionVars.projectModel.sourceData.adminEmail) when sessionVars.projectModel.sourceData.adminEmail != null,
  externalId: sessionVars.projectModel.sourceData.projectSfdcId,
  name: sessionVars.projectModel.sourceData.name,
  productCode: "MANDA",
  scheduledActivationDate: 0,
  state: "PREP" when sessionVars.projectModel.sourceData.projectStatus == "Build Period"
			otherwise "ACTIVE" when sessionVars.projectModel.sourceData.projectStatus == "Active"
			otherwise "ACTIVE" when sessionVars.projectModel.sourceData.projectStatus == "Active with Continuation"
			otherwise "HIBERNATION" when sessionVars.projectModel.sourceData.projectStatus == "Hibernation"
			otherwise "SUSPENDED" when sessionVars.projectModel.sourceData.projectStatus == "Suspended"
			otherwise "CLOSING" when sessionVars.projectModel.sourceData.projectStatus == "Closure_Requested"
			otherwise "CLOSED" when sessionVars.projectModel.sourceData.projectStatus == "Closed"
			otherwise "UNKNOWN"
}
 ]]></dw:set-payload>
        </dw:transform-message>
        <enricher target="variable:dsoToken" doc:name="Message Enricher">
            <flow-ref name="getDSOAuth" doc:name="getDSOAuth"/>
        </enricher>
        <http:request config-ref="DSO_API_Request_Configuration" path="${dso.create.api.path}/{projectId}/info" method="PUT" doc:name="DSO Update Status">
            <http:request-builder>
                <http:uri-param paramName="projectId" value="#[sessionVars.projectModel.sourceData.datasiteOneId]"/>
                <http:header headerName="Content-Type" value="application/json"/>
                <http:header headerName="Authorization" value="Bearer #[flowVars.dsoToken]"/>
            </http:request-builder>
        </http:request>
        <logger message="Completed_Flow=#[flow.name]  MessageId=#[message.id]  ProjectId=#[flowVars.projectSfdcId]" level="INFO" category="com.merrillcorp.logging.dso" doc:name="End of Flow Logger"/>
        
    </flow>
</mule>
