src/main/app/oraclecreate.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="createInOracle" processingStrategy="synchronous">
        <logger message="Entered_Flow=#[flow.name]  MessageId=#[message.id]  ProjectId=#[flowVars.projectSfdcId]" level="INFO" doc:name="Start of Flow Logger" category="com.merrillcorp.logging.oracle"/>
        <flow-ref name="getOracleAuth" doc:name="getOracleAuth"/>
        <flow-ref name="getProjectOrgId" doc:name="getProjectOrgId"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="d3480aa3-08ac-4620-be0f-6ae90ec21d81">
            <dw:input-session-variable mimeType="application/java" variableName="projectModel"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%function subString30(aString) (aString when (sizeOf aString) < 31 otherwise aString[0..29])  
---
{
  CREATE_PROJECT_Input: {
    RESTHeader: {
      Responsibility: "XXISG_PA"
    },
    InputParameters: {
      P_PROJECT: {
        SOURCE_SYSTEM: "XXSF", //payload.SOURCE_SYSTEM,
        SOURCE_PROJECT_NUMBER: sessionVars.projectModel.sourceData.projectSfdcId,
        PROJECT_NAME: subString30(sessionVars.projectModel.sourceData.name),
        DESCRIPTION: sessionVars.projectModel.sourceData.name,
        PROJECT_START_DATE: (sessionVars.projectModel.sourceData.createdAt as :date) as :string {format: 'yyyy-MM-dd'},
        OPERATING_UNIT_ID: sessionVars.projectModel.sourceData.operatingUnitId,
        PRODUCT_TYPE: upper ("Datasite-" ++ sessionVars.projectModel.sourceData.productType),
        ORGANIZATION_ID: payload,
        BILLABLE: "Y" //payload.BILLABLE
      }
    }
  }
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="Oracle_Request_Configuration" path="${oracle.project.path}" method="POST" doc:name="Create Oracle Project">
            <http:request-builder>
                <http:header headerName="Cookie" value="#[flowVars.oracleAuth.tokenName + '=' + flowVars.oracleAuth.accessToken]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Parse Project Creation Result">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
  oracle_project_number : payload.OutputParameters.P_RESULTS.PROJECT_NUMBER,
  status : payload.OutputParameters.P_RESULTS.STATUS,
  message : payload.OutputParameters.P_RESULTS.MESSAGES.MESSAGES_ITEM
}]]></dw:set-payload>
        </dw:transform-message>
        <choice doc:name="Oracle Response Status">
            <when expression="#[payload.status == 'S']">
                <logger message="Flow=#[flow.name]  MessageId=#[message.id]  ProjectId=#[flowVars.projectSfdcId]  Choice:Oracle Status=#[payload.status]" level="DEBUG" category="com.merrillcorp.choice.oracleincreate" doc:name="Choice Logger"/>
            </when>
            <otherwise>
                <logger message="Flow=#[flow.name]  MessageId=#[message.id]  ProjectId=#[flowVars.projectSfdcId]  Choice:Oracle Status=#[payload.status]" level="INFO" category="com.merrillcorp.choice.oraclecreate" doc:name="Choice Logger"/>
            </otherwise>
        </choice>
        <filter ref="Oracle_Response_Evaluation" doc:name="Oracle_Response_Evaluation"/>
        <logger message="Completed_Flow=#[flow.name]  MessageId=#[message.id]  ProjectId=#[flowVars.projectSfdcId]" level="INFO" category="com.merrillcorp.logging.oracle" doc:name="End of Flow Logger"/>
        
    </flow>
</mule>
