src/main/app/oracle.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="persistInOracle" processingStrategy="synchronous">
    <logger message="Entered_Flow=#[flow.name]  MessageId=#[message.id]  ProjectId=#[flowVars.projectSfdcId]" level="INFO" doc:name="Start of Flow Logger" category="com.merrillcorp.logging.oracle"/>
    <dw:transform-message doc:name="Find oracle project" metadata:id="84f84b15-7483-4497-8fe2-624ae3d81940">
            <dw:input-payload doc:sample="sample_data\list_SaveResult.dwl"/>
            <dw:input-variable doc:sample="examples\mdrUpsertProjSfProjResponse.json" mimeType="application/json" variableName="funnnnnn"/>
            <dw:set-variable variableName="needsOracleUpdate"><![CDATA[%dw 1.0
%output application/java
%var oraProjFound = sessionVars.projectModel.crossRefs filter $.IdentifierTypeKey == 'ORA_Proj' and $.EntityTypeKey == 'PROJ'
---
true when (sizeOf oraProjFound) > 0 otherwise false
]]></dw:set-variable>
        </dw:transform-message>
        <choice doc:name="Choice">
            <when expression="#[flowVars.needsOracleUpdate]">
                <flow-ref name="updateInOracle" doc:name="updateInOracle"/>
            </when>
            <otherwise>
                <flow-ref name="createInOracle" doc:name="createInOracle"/>
                <flow-ref name="addOraProjToSfProj" doc:name="addOraProjToSfProj"/>
            </otherwise>
        </choice>
        <logger message="Completed_Flow=#[flow.name]  MessageId=#[message.id]  ProjectId=#[flowVars.projectSfdcId]" level="INFO" category="com.merrillcorp.logging.oracle" doc:name="End of Flow Logger"/>
        
    </flow>
</mule>