src/main/app/oracle-auth.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http"
xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
xmlns="http://www.mulesoft.org/schema/mule/core"
xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
xmlns:spring="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <flow name="getOracleAuth" processingStrategy="synchronous">
        <logger message="Entered_Flow=#[flow.name]  MessageId=#[message.id]  ProjectId=#[flowVars.projectSfdcId]" level="INFO" doc:name="Start of Flow Logger" category="com.merrillcorp.logging.oracle"/>

        <set-payload doc:name="Set Payload" value="#[&quot;Key&quot;]"/>
        
        <enricher target="#[variable:oracleAuth]" doc:name="Message Enricher">
	        <ee:cache cachingStrategy-ref="ExpirableCachingStrategy" doc:name="Cache">
                <until-successful maxRetries="${oracle.http.max.retries}" failureExpression="exception!=null &amp;&amp; (exception.causedBy(java.io.IOException) || exception.causedBy(java.net.ConnectException)  || exception.causedBy(java.net.SocketTimeoutException))" synchronous="true" doc:name="Until Successful" millisBetweenRetries="${oracle.http.milliSecondsBetweenRetries}">
                    <http:request config-ref="Oracle_Request_Configuration" path="/webservices/rest/login" method="GET" doc:name="Oracle Get Token"/>
                </until-successful>


	            <dw:transform-message doc:name="Transform Message">
	                <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
  accessToken: payload.data.accessToken,
  tokenName: payload.data.accessTokenName
}]]></dw:set-payload>
	            </dw:transform-message>

	        </ee:cache>
        </enricher>
        <logger message="Completed_Flow=#[flow.name]  MessageId=#[message.id]  ProjectId=#[flowVars.projectSfdcId]" level="INFO" category="com.merrillcorp.logging.oracle" doc:name="End of Flow Logger"/>
        
    </flow>

</mule>
