src/main/app/subscribeproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:microsoftservicebus="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/microsoftservicebus http://www.mulesoft.org/schema/mule/microsoftservicebus/current/mule-microsoftservicebus.xsd">
    <microsoftservicebus:azureConfig name="Microsoft_Service_Bus__Azure_Service_Bus" namespace="mrllus2q2csb" userName="RootManageSharedAccessKey" password="FTtvSCNopoyEIApfklbf/gfTQo85SOegj11sDbCgs8Y=" doc:name="Microsoft Service Bus: Azure Service Bus"/>

    <flow name="subscribeproject" processingStrategy="synchronous" >
        <microsoftservicebus:queue-receive config-ref="Microsoft_Service_Bus__Azure_Service_Bus" sourceQueue="joko" doc:name="Microsoft Service Bus (Streaming)"/>
        <flow-ref name="extractAzureMessage" doc:name="extractAzureMessage"/>
        <flow-ref name="createCanonicalModel" doc:name="createCanonicalModel"/>
        
    </flow>
    <flow name="subscribeNewlyActiveProject" processingStrategy="synchronous" initialState="stopped">
        <microsoftservicebus:queue-receive config-ref="Microsoft_Service_Bus__Azure_Service_Bus" sourceQueue="joko" doc:name="Microsoft Service Bus (Streaming)"/>
        <set-session-variable variableName="updatePlanStatus" value="#['true']" doc:name="Session Variable"/>
        <flow-ref name="extractAzureMessage" doc:name="extractAzureMessage"/>
        <flow-ref name="createCanonicalModel" doc:name="createCanonicalModel"/>
    </flow>
</mule>
